*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    background-color: #f0f4f5;
    margin: auto; 
    overflow:hidden;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child{
    color: #20bc7e;

}

/* main section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
main section{
    width: 50%;
}
.leftsection{
    margin-left: 5%;
    position: relative;
}
.topangle{
    width: 25px;
}
.leftsection h1{
    font-size: 70px;
}
.leftsection p{
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}
.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}
.stethoscope{
    position: absolute;
    top: -120px;
    z-index: -1;
    right: -105px;
    width: 90%;
}
.mouse{
    position: absolute;
    right: -30px;
    bottom:0 ;
    width: 30px;

}
.leftsection button{
    color: white;
    background-color: #20bc7e;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    font-size: 25px;
}
/* right side */
.greenbox,.yellowbox{
    position: absolute;
    right: 0;
}
.greenbox{
    width: 35%;
    bottom: 30px;
}
.yellowbox{
    width: 30%;
    bottom: 50px;
}
.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}